.workers-display {
    max-width: 1100px;
}

.bg {
    min-height: 150px;
    background-color: var(--desaturate-dark-cyan);
    background-image: url(./assets/images/bg-header-mobile.svg);
    background-position: center;
    background-size: cover;
}

.filter-search {
    min-height: 50px;
    transform: translateY(-50%);
}

.all-workers {
    
}

/* .clear-btn {
    color: var(--desaturate-dark-cyan)
} */

.clear-btn:hover {
    text-decoration: underline;
}

.niche-bar {
    gap: 10px;
}

@media screen and (width > 700px) {
    .bg {
        background-image: url(./assets/images/bg-header-desktop.svg);
    }

    .filter-search {
        min-height: 50px;
        margin-top: -25px;
    }
}