@font-face {
    font-family: lbold;
    src: url(./assets/fonts/LeagueSpartan-Bold.ttf);
}

@font-face {
    font-family: lmed;
    src: url(./assets/fonts/LeagueSpartan-Medium.ttf);
}

@font-face {
    font-family: lreg;
    src: url(./assets/fonts/LeagueSpartan-Regular.ttf);
}

:root {
    /* typography */

    /* color/paint */
    --desaturate-dark-cyan: hsl(180, 29%, 50%);
    --light-grayish-cyan-bg: hsl(180, 52%, 96%);
    --light-grayish-cyan-filter-tablets: hsl(180, 30%, 88%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

html {
    font-size: 15px;
}

body {
    background-color: var(--light-grayish-cyan-bg);
    min-height: 100vh;
}

/*  BACKGROUD COLOR */
.bg-dark-cyan {
    background-color: var(--desaturate-dark-cyan);
}

.tablets {
    background-color: var(--light-grayish-cyan-filter-tablets);
}

/* FONT COLORS */
.text-c-dark {
    color: var(--desaturate-dark-cyan)
}

.text-gray {
    color: var(--dark-grayish-cyan)
}

/* FONT FAMILY */
.text-lbold {
    font-family: lbold;
}

.text-lmed {
    font-family: lmed;
}

.text-lreg {
    font-family: lreg;
}